body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loading fonts */
@font-face{
  font-family: Gilroy-Thin;
  src: local("Gilroy-Thin"), url(./assets/fonts/Gilroy-Thin.ttf)format("truetype");
}
@font-face{
  font-family: Gilroy-Black;
  src: local("Gilroy-Black"), url(./assets/fonts/Gilroy-Black.ttf)format("truetype");
}
@font-face{
  font-family: Gilroy-UltraLight;
  src: local("Gilroy-UltraLight"), url(./assets/fonts/Gilroy-UltraLight.ttf)format("truetype");
}
@font-face{
  font-family: JetBrainsMono-Bold;
  src: local("JetBrainsMono-Bold"), url(./assets/fonts/JetBrainsMono-Bold.ttf)format("truetype");
}
@font-face{
  font-family: JetBrainsMono-Regular;
  src: local("JetBrainsMono-Regular"), url(./assets/fonts/JetBrainsMono-Regular.ttf)format("truetype");
}
@font-face{
  font-family: Gilroy-Regular;
  src: local("Gilroy-Regular"), url(./assets/fonts/Gilroy-Regular.ttf)format("truetype");
}
